---
layout: home
---

{% include header.html %}
{% include header-mobile.html %}

<section id="leadership-hero">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Our Leadership</h1>
            </div>
        </div>
    </div>
</section>

<section id="data-block">
    <div class="container">
        <div class="row">
            <div class="col-md"><div class="data-parent"><span class="data-number">20+</span><span class="data-text">startups led</span></div></div>
            <div class="col-md"><div class="data-parent"><span class="data-number">30+</span><span class="data-text">patents</span></div></div>
            <div class="col-md"><div class="data-parent"><span class="data-number">60+</span><span class="data-text">products to market</span></div></div>
        </div>
    </div>
</section>

<section id="profiles">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="assets/images/profile-eric.png" alt="Eric Howie">
                <p class="profile-title">Eric Howie</p>
                <p class="profile-role"><span>CEO/Product Visionary</span>Former Managing Director/Partner of multi-billion dollar investment management firm</p>
            </div>
            <div class="col-md">
                <img src="assets/images/profile-mark.png" alt="Mark Flowers">
                <p class="profile-title">Mark Flowers</p>
                <p class="profile-role"><span>Interim CTO</span>Former EVP/CTO of LeapFrog, Inc. through IPO and $1B+ valuation</p>
            </div>
            <div class="col-md">
                <img src="assets/images/profile-ramazan.png" alt="Ramazan Demirli">
                <p class="profile-title">Ramazan Demirli</p>
                <p class="profile-role"><span>Chief Scientific Officer</span>Former Senior Director of R & D - Algorithms at SleepIQ Labs</p>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md">
            </div> -->
            <div class="col-md">
                <img src="assets/images/profile-john.png" alt="John Haggis">
                <p class="profile-title">John Haggis</p>
                <p class="profile-role"><span>VP of Engineering</span>Former VP, Engineering Manager, Aerielle, Inc.</p>
            </div>
            <div class="col-md">
                <img src="assets/images/profile-stuart.png" alt="Stuart Lackey">
                <p class="profile-title">Stuart Lackey</p>
                <p class="profile-role"><span>Co-founder</span>Former CEO Solaster</p>
            </div>
            <div class="col-md">
                <img src="assets/images/profile-soslow.png" alt="Stuart Lackey">
                <p class="profile-title">John Soslow</p>
                <p class="profile-role"><span>Medical Research Director</span>Pediatric Cardiologist at Vanderbilty University Medical Center
                </p>
            </div>
        </div>
    </div>

</section>


{% include footer.html %}