---
layout: home
---

{% include header.html %}
{% include header-mobile.html %}

<section id="leadership-hero">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Our Leadership</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
    </div>
</section>

<section id="data-block">
    <div class="container">
        <div class="row">
            <div class="col-md"><span class="data-number">20+</span><span class="data-text">startups led</span></div>
            <div class="col-md"><span class="data-number">24</span><span class="data-text">patents</span></div>
            <div class="col-md"><span class="data-number">60+</span><span class="data-text">products to market</span></div>
        </div>
    </div>
</section>

<section id="profiles">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="assets/images/profile-eric.png" alt="Eric Howie">
                <p class="profile-title">Eric Howie</p>
                <p class="profile-role">CEO - former Managing Director/Partner of multi-billion dollar investment management firm</p>
            </div>
            <div class="col-md">
                <img src="assets/images/profile-mark.png" alt="Mark Flowers">
                <p class="profile-title">Mark Flowers</p>
                <p class="profile-role">Interim CTO - former EVP/CTO of LeapFrog, Inc. through IPO and $1B+ valuation</p>
            </div>
            <div class="col-md">
                <img src="assets/images/profile-ramazan.png" alt="Ramazan Demirli">
                <p class="profile-title">Ramazan Demirli</p>
                <p class="profile-role">Chief Scientific Officer - early employee of BAM Labs (acquired by Sleep Number) responsible for all Sleep Number algorithm development</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <img src="assets/images/profile-john.png" alt="John Haggis">
                <p class="profile-title">John Haggis</p>
                <p class="profile-role">VP of Engineering - former VP, Engineering Manager, Aerielle, Inc.</p>
            </div>
            <div class="col-md">
                <img src="assets/images/profile-stuart.png" alt="Stuart Lackey">
                <p class="profile-title">Stuart Lackey</p>
                <p class="profile-role">Sr. Business Development Advisor</p>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

</section>


{% include footer.html %}