<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>Life Detection Technologies</h5>
            </div>
            <div class="col-sm">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="our-technology.html">Our Technology</a></li>
                    <li><a href="leadership.html">Leadership</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <a href="#">info@lifedetectiontechnologies.com</a>
                <div class="social-media">
                    <a href="#"><img src="assets/images/soc-media/facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/images/soc-media/insta.svg" alt=""></a>
                    <a href="#"><img src="assets/images/soc-media/youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>