<div class="header-mobile for-mobile">
    <div class="icon-container">
        <div id="menuicon">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
        </div>
    </div>
    <div class="mobile-menu">
        <ul class="menu">
            <li class="menu-item"><a href="index.html">Home</a>
            </li>
            <li class="menu-item"><a href="our-technology.html">Our Technology</a>
            </li>
            <li class="menu-item"><a href="#">Leadership</a>
            </li>
            <li class="menu-item"><a href="mailto:ehowie@lifedetectiontechnologies.com">Contact us</a>
            </li>
        </ul>
    </div>
</div>