<header id="header" class="for-desktop">
    <div class="container">
        <div class="row">
            <div class="col-sm" id="logo"><a href="index.html"><img src="assets/images/logo1.png" alt="logo LDT"></a></div>
        </div>
    </div>
    <ul id="main-nav">
        <!-- <li><a href="index.html">Home</a></li> -->
        <li><a href="our-technology.html">Our Technology</a></li>
        <li><a href="leadership.html">Leadership</a></li>
        <li><a href="mailto:ehowie@lifedetectiontechnologies.com">Work with us</a></li>
    </ul>
</header>