<!-- Three point section -->
<section id="three-pointer">
    <div class="container">
        <div class="row">
            <p class="category center">A new technology</p>
            <h2>How DistaSense® Works</h2>
        </div>
        <div class="row">
            <div class="col-md">
                {% include icon-circles.svg %}                
                <h4>Create EM Field</h4>
                <p>Setting up this technology is very simple & straight forward.</p>
            </div>
            <div class="col-md">
                {% include icon-waves.svg %}                 
                <h4>Living Tissues Disrupt EM Field</h4>
                <p>This method of data acquisition is very unobtrusive & user friendly.</p>
            </div>
            <div class="col-md">
                {% include icon-graph.svg %} 
                <h4>Disruptions are Monitored</h4>
                <p>Accurate data with unlimited potential applications.</p>
            </div>
        </div>
        <div class="row cta-section">
            <p class="text-center">
                <a href="our-technology.html" class="cta-button">Learn more</a>
            </p>        
        </div>
    </div>
</section>

<!-- Testimonial -->
<section id="testimonial-01">
    <div class="container">
        <div class="row">
            <div class="testimonial-center">
                <p class="testimonial">
                        "LDT’s technology tracks important and fundamental vital signs - heart and respiratory rate - without electrodes, wires or belts. It is exciting to envision how this will improve the screening, diagnosis and care for a host of medical conditions."                </p>
                <p class="name">Dr. Barbara Paul</p>
                <p class="title">Former Chief Medical Officer, Community Health Systems</p>
            </div>
        </div>
    </div>
</section>

<!-- Video section -->
        
<section id="home-video">
    <div id="container">
        <a id="playme" onclick="revealVideo('video','youtube')"><img src="assets/images/video-arrow.svg" width="400" alt="loupe"></a>
    </div>

    <div id="video" class="lightbox" onclick="hideVideo('video','youtube')">
        <div class="lightbox-container">  
            <div class="lightbox-content">
                <button onclick="hideVideo('video','youtube')" class="lightbox-close">
                    ✕
                </button>
                <div class="video-container">
                    <iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/a8WMCl9sTKU?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/feB3WL0dVvo?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>      
            </div>
        </div>
    </div>
</section>

<!-- Better data  -->
<section id="deep-dive">
    <div class="container">
        <div class="row">
            <p class="category center">A New Appoach</p>
            <h2>Better Data, Better Results</h2>
        </div>
        <div class="row">
            <div class="col-md">
                    <div class="img-parent">
                        <!-- <img src="assets/images/icons-better-section/stats-lines-pipes.svg" alt=""> -->
                        <img src="assets/images/icons-better-section/icon-unmatched.svg" alt="">
                    </div>
                <div class="text-container">
                    <h4>Unmatched Touchless Accuracy</h4>
                    <p>Unique technology leads to better outcomes.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="img-parent">
                    <!-- <img src="assets/images/icons-better-section/sprint.svg" alt=""> -->
                    <img src="assets/images/icons-better-section/icon-setup.svg" alt="">
                </div>
                <div class="text-container">
                        <h4>Easy setup and maintenance</h4>
                        <p>Which provides a frictionless experience for the user.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="img-parent">
                    <!-- <img src="assets/images/icons-better-section/sport-shirt.svg" alt=""> -->
                    <img src="assets/images/icons-better-section/icon-flexible.svg" alt="">
                </div>
                <div class="text-container">
                    <h4>Flexible & adaptable</h4>
                    <p>Contactless data acquisition allows for more flexibility and is less intrusive to the user.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="img-parent">
                    <!-- <img src="assets/images/icons-better-section/medical-history.svg" alt=""> -->
                    <img src="assets/images/icons-better-section/icon-monitor.svg" alt="">
                </div>
                <div class="text-container">
                    <h4>Easily Monitor Unhealthy Populations</h4>
                    <p>The ability to monitor user from home.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Invest now CTA -->
<section id="invest">
    <div class="invest-parent">
        <h2>The Future Starts Now</h2>
        <p>Partner with us & help revolutionize the intersection of healthcare & technology for touchless vital monitoring.</p>
        <a href="#" class="cta-button secondary">Contact us</a>
    </div>
</section>