<section id="hero-split">
    {% include ot-hero2.svg %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <!-- <p class="category">THE DIFFERENCE</p> -->
                <h1>Our Technology</h1>
                <!-- <p>Our patented technologies can capture heart and respiration rates with absolutely no user contact using virtually anything that is electrically conductive as our primary sensor. Our technology can be integrated into an ASIC, electrically conducted thread woven into fabric or anything in between.</p> -->
                <p>Our patented technologies can capture heart and respiration rates with absolutely no user contact.</p>
                <p><a class="cta-button" href="mailto:ehowie@lifedetectiontechnologies.com">Get in Touch</a></p>
            </div>
        </div>
    </div>
</section>