<!-- old tech section -->
<section id="old-tech">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="assets/images/montage-1.png" class="img-1"
                    alt="images of current vital monitoring technology">
                <img src="assets/images/montage-2.png" class="img-2"
                    alt="images of current vital monitoring technology">
                <img src="assets/images/montage-3.png" class="img-3"
                    alt="images of current vital monitoring technology">
                <img src="assets/images/old-tech-m.png" class="img-4"
                    alt="images of current vital monitoring technology">

            </div>
            <div class="col-md">
                <p class="category">old technology</p>
                <H2>Todays vital sign monitoring solutions are limiting.</H2>
                <ul>
                    <li>Physical contact required to gather data.
                    </li>
                    <li>Contact can be invasive and uncomfortable for the user.
                    </li>
                    <li>Connection can be easily lost when the user is moving or sleeping.
                    </li>
                    <li>Data can be compromised by the innate shortcomings of this method of vital sign monitoring</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- new tech section -->
<section id="new-tech-section">
    <div class="container">
        <div class="row number-heading">
            <p class="category no-line">New technology</p>
            <h2>Why DistaSense®</h2>
        </div>
        <div class="row number-section">
            <div class="col-sm">
                <span>1</span>
                <p>Patented technology allows for touchless vital sign monitoring</p>
            </div>
            <div class="col-sm">
                <span>2</span>
                <p>Comparable data accuracy to current methods of vital sign monitoring</p>
            </div>
            <div class="col-sm">
                <span>3</span>
                <p>Can be integrated into beds, adhesive patches or any other type of smart clothing/wearable</p>
            </div>
        </div>
    </div>
</section>

<!-- Block quote -->
<!-- <section id="blockquote">
    <h3>Our DistaSense® technology is the next step in bringing vital monitoring into the 21st century. It removes the friction points of existing solutions while providing enhanced data accuracy.</h3>
</section> -->

<section id="testimonial-01" class="lot-of-text">
    <div class="container">
        <div class="row">
            <div class="testimonial-center">
                <p class="testimonial">
                    "This novel technology has the capability of picking up multiple physiological parameters at once
                    (heart rate, tidal volume, and breathing characteristics). The application of machine learning to
                    this rich measurement of physiological parameters will permit a new level of assessment that could
                    prove to be a very useful tool and enable a new degree of continuous monitoring."
                </p>
                <p class="name">David Ritscher</p>
                <p class="title">Senior Consultant, Cambridge Consultants</p>
            </div>
        </div>
    </div>
</section>

<!-- Table Section -->
<section id="information-table">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3>Comparison To Other Technologies</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th style="background-color: #eee;" scope="col">DistaSense®</th>
                            <th scope="col">Piezo</th>
                            <th scope="col">Pressure</th>
                            <th scope="col">Radar</th>
                            <th scope="col">Camera</th>
                            <th scope="col">Pulse-Ox</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Non-Contact</th>
                            <td style="background-color: #fafafa;"><img src="assets/images/icon-green-tick.svg"
                                    alt="green tick"></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Highly Accurate Respiration Rate</th>
                            <td style="background-color: #fafafa;"><img src="assets/images/icon-green-tick.svg"
                                    alt="green tick"></td>
                            <td></td>
                            <td></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Highly Accurate Heart Rate</th>
                            <td style="background-color: #fafafa;"><img src="assets/images/icon-green-tick.svg"
                                    alt="green tick"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                        </tr>
                        <tr>
                            <th scope="row">Co-Sleepers ok</th>
                            <td style="background-color: #fafafa;"><img src="assets/images/icon-green-tick.svg"
                                    alt="green tick"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                        </tr>
                        <tr>
                            <th scope="row">Wearable Compatible</th>
                            <td style="background-color: #fafafa;"><img src="assets/images/icon-green-tick.svg"
                                    alt="green tick"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><img src="assets/images/icon-green-tick.svg" alt="green tick"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Importance of respiration  -->
<section id="respiration-importance">
    <div class="container">
        <div class="row">
            <div class="col-md side-1">
                <div class="box">
                    <img src="assets/images/respiration.jpg" alt="woman breathing in nature">
                    <!-- <div class="overlay"></div> -->
                </div>
            </div>
            <div class="col-md side-2">
                <p class="category">Breath is Life</p>
                <h2>Importance of Respiration</h2>
                <p>A broad 2016 controlled study concluded – “that an increased respiratory rate was an important
                    predictor for clinical deterioration…in patients with heterogeneous medical conditions.”
                    <sup>1</sup></p>
                <p>Approximately 70% of in‐hospital cardiac arrest patients have some change in vital signs 6–8 hours
                    prior to arrest with abnormalities of respiration being the most commonly documented change.
                    <sup>2,3</sup></p>
            </div>
        </div>
    </div>
</section>

<!-- Footnotes -->
<section id="footnotes">
    <div class="container">
        <div class="row">
            <p><small>1. Importance of respiratory rate for the prediction of clinical deterioration after emergency
                    department discharge: a single‐center, case–control study; Katsunori Mochizuki, Ryosuke Shintani,
                    Kotaro Mori, Takahisa Sato, Osamu Sakaguchi, Kanako Takeshige, Kenichi Nitta, and Hiroshi Imamura:
                    Published 2016 Nov 10</br>
                    2. Schein RM, Hazday N, Pena M, Ruben BH, Sprung CL. Clinical antecedents to in‐hospital
                    cardiopulmonary arrest. Chest 1990; 98: 1388–92.</br>
                    3. Franklin C, Mathew J. Developing strategies to prevent inhospital cardiac arrest: analyzing
                    responses of physicians and nurses in the hours before the event. Crit. Care Med. 1994; 22: 244–7.
                </small></p>
        </div>
    </div>
</section>